@charset "utf-8";
/*
公用*/
.comWidth{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.leftArea{
    float: left;
}
.rightArea{
    float: right;
}

/*topBar*/
.topBar{
    height: 31px;
    background-color: #F7F7F7;
    line-height:31px;
}
.collection{
    background: url("../images/collection.png") left center no-repeat;
    padding-left: 19px;
    font-weight: bold;
}
.topBar a:hover{
    color: crimson;
}
/*logo*/
.logoBar{
    height: 85px;
    background-color: deeppink;
    line-height: 85px;
}
.logo{
    padding-left: 41px;
    padding-top: 15px;
}
/*
search*/
.searchBox{
    width: 430px;
    padding-top: 23px;
    padding-left: 185px;
}
.searchText{
    width: 350px;
    height: 35px;
    padding: 0 5px;
}
.searchBtn{
    width:70px ;
    height: 35px;
    background-color: crimson;
    color: white;
    font-size: 14px;
    font-family: 微软雅黑;
}
.shopCar{
    height: 35px;
    width: 145px;
    background-color: crimson;
    margin-top: 23px;
    font:14px/35px 微软雅黑;
    color: white;
    margin-right: 59px;
}
.shopText{
   /* font-size: 14px;
    font-family: 微软雅黑;
    line-height: 35px;*/

    height: 100%;
    width: 87px;
    border-right: #E27A00 solid 1px;
    background: url("../images/shopIcon.png") 5px center no-repeat;
    text-indent: 40px;
}
.shopNum{
    width:27px ;
    height: 35px;
    background: url("../images/arrow_drop_down.png") 20px  center no-repeat;
    border-left: #FF9C01 solid 1px;
    text-align: center;
    padding-right: 29px;
}

